body {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  font-family:monospace;
}

.my-nav {
  color: whitesmoke;
}

.home-img {
  margin-top: 8%;
}

.home-title{
  border-radius: 8px;
  margin-top: -5%;
}